body {
    width: 80%;
    margin: 1% auto;
    border: 1px solid #e5e5e8;
    padding: 1%;
    border-radius: 8px;
}

.container {
    text-align: center;
}

.feebackForm {
    margin: 2%;
}

#feedbackForm {
    padding-top: 3%;
}