<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Compare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../thirdparty/jquery.min.js"></script>
    <script src="../thirdparty/underscore-min.js"></script>

    <script src="../thirdparty/RGraph.svg.common.core.js"></script>
    <script src="../thirdparty/RGraph.svg.common.tooltips.js"></script>
    <script src="../thirdparty/RGraph.svg.common.key.js"></script>
    <script src="../thirdparty/RGraph.svg.bar.js"></script>
    

    
    <script src="../js/compare.js"></script>
</head>
<body>
    <div style="padding: 15px">
        <div style="width: 80%; height: 500px" id="cc"></div>
    </div>
</body>
</html>