#feedback-plugin {
    position: absolute;
    bottom: 2%;
    right: 2%;
    border: 1px solid black;
    z-index: 999999;
    float: left;
    background-color: #e5e5e8;
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 2%;
    cursor: pointer;
    font-weight: bolder;
}